body {
  text-align: center;
 
  background-color: #040303;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
  width: 1000px;
  margin: 0 auto;
}
.navigation {
  padding: 10px 0;
}
.navigation a {
  
  padding: 5px 15px;
  border-radius: 5px;
  
  text-decoration: none;
  color: white;
  background-color:rgb(5, 124, 145);
}
a {
  text-decoration: none;
  color: #009fb7;
}
.header {
  position: relative;
  margin: 50px 0 100px 0;
  
}
.header__image--shadow {
  box-shadow: inset black 0 0 20px 20px;
}

.header__title {
  position: absolute;
  color: #fff05a;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 10px 5px 10px black;
}
.header__image {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  z-index: -2;
  position: relative;
}
.section__title {
  color: #eea243;
}
.article__title {
  color: #fff05a;
}
section {
  margin: 50px 20px;
  background-color: rgb(2, 31, 36);
  border-radius: 25px;
  padding: 20px;
}
article {
  display: inline-block;
  width: 250px;
  padding: 0 25px;
}
article p {
  color: white;
  text-align: justify;
}
h1, h2, h3 {
  font-family: monospace;
}